.search_btn {
	padding: 0.7em;
	color: white;
	@extend %font_awesome;
	@extend %cp;
}

.search_modal {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -2;
	background: rgba(0,0,0,0.8);
	min-height: 100vh;
	height: 100%;
	width: 100%;
	opacity: 0;
	@include transition(all 0.2s ease-out 0s);

	&.opened {
		z-index: 999;
		opacity: 1;
	}

	&__section {
		padding: 9em 0 0;
		margin: 1.6em auto 0;
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 9;
		border: 1px solid $featured_red;
		padding: 2em;
		background: rgba(0,0,0,0.35);
		border-radius: 50%;
		@include transform(rotate(-45deg));
		cursor: pointer;

		&:before,&:after {
			@extend %block_pseudo_container;
			background: $featured_red;
			position: absolute;
			@include transform(scale(1));
		}

		&:before {
			top: 10%;
			left: calc(50% - 1px);
			height: 80%;
			width: 1px;
		}

		&:after {
			left: 10%;
			top: calc(50% - 1px);
			height: 1px;
			width: 80%;
		}

		span {
			position: absolute;
			left: 14%;
			top: 14%;
			@include transform(rotate(49deg));
			@include transition(opacity 0.2s ease-out 0s);
			opacity: 0;
			font-family: "crowdstrike";
			@extend .cs-icon-cs-icon;
			color: $featured_red;
			font-size: 2.4em;
		}

		&:hover {
			&:before,&:after {
				@include transform(scale(0));
				@include transition(all 0.2s ease-out 0s);
			}

			span {
				opacity: 1;
			}
		}
	}

	&__content {
		margin: 4em 0 0;
		height: 50em;
		overflow: scroll;
		opacity: 0; //Temporarty set 
		display: none; //Temporarty set 
	}

	input {
		border-radius: 0.3em;
		border: 1px solid $featured_red;
		padding: 1em 1em;
		background: rgba(0,0,0,0.35);
		color: white;	
	}

	input::-webkit-input-placeholder {
	    color: inherit;

	}

	input::-moz-placeholder {
	    color: inherit;
	}

	input::-ms-placeholder {
	    color: inherit;
	}

	input::placeholder {
	    color: inherit;
	}

	&__items {
		&:after {
			@extend %fix_clear_container;
		}
	}

	&__featured_content {
		margin: 0 0 0 1em;
		width: 72%;
		display: inline-block;
		vertical-align: top;

		.featured_link {
			text-transform: uppercase;
			font-weight: 900;
		}

		h2 {
			font-size: 1.4em;
		}

		p {
			font-size: 1em;
			line-height: 1.45;
		}
	}

	&__single_item {
		margin: 0 0 1.4em;
		padding: 0 0 1.4em;
		border-bottom: 1px solid $featured_red;
		min-height: 11em;
		width: 60%;
		float: left;
		color: white;

		img {
			width: 10em;
			display: inline-block;
			vertical-align: top;
		}
	}

	&__map {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 8;
		height: 100%;
		width: 35%;

		img {
			width: 86%;
			left: 50%;
			top: 0;
			@include transform(translateX(-50%));
		}
	}
}

@media screen 
and (max-width: 1024px) {

.search_modal{
	
	input {
	    padding: 0.7em 1em;	
	}

	&__section {
	    padding: 2.7em 0.8em 0;
	    margin: 0.1em auto 0;
	}

	&__close {
		right: 0.2em;
		padding: 1.3em;
		border: 0;
		background: none;
		
		&:hover {
			&:before,&:after {
				@include transform(scale(1));
				@include transition(none);
			}
		}

		span {
			display: none;
		}
	}

	&__single_item {
		float: none;
		width: auto;
	}

	&__map {
		display: none;
	}

	&__single_item {
		img {
			width: 5em;
		}
	}

}


}////